@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --p1:#BBFFDD;
  --p2:#FFDE9F;
  --p3:#004422;
  --b0:#000;
  --wf:#fff;
  --n1:#383838;
  --n2:#707070;
  --n3:#A7A7A7;
  --main-color:palevioletred;
  --text-color:#A95720;
}

*{
  color:var(--text-color);
}

a{
  color:var(--text-color)
}

#LangSelect{
  font-size: 14px;
  padding: 7px;
}

.Site-Name{
  color:black  !important;
}

.cat-nav {
  scrollbar-color: #18793000 #f3f2f200;
  scrollbar-width: thin;
}
.cat-nav:hover {
  scrollbar-color: #187930 #f3f2f2;
  scrollbar-width: thin;
}
.Active_title_nav_cat{
  color: var(--main-color);
  border-bottom: 2px solid;
}
/* ========================== Start Styling Menu categroy =====================*/
.overlayAndCloseSection{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  background-color: #57565687;

}
.Section-content{
  bottom: 0;
  position: absolute;
  width: 100%;
}
.Close-section{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  padding-right: 20px;
  padding-bottom: 10px;
}
.Close-section button{
  font-size: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.CategroyMenu{
  background-color: #f7f7f7;
  height: 80vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 30px 0;

}
.Menu-cat-Title{
  padding-left: 30px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 14px;
}
.Menu-All-Categroyies{
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.Single_menu_catgeroy{
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

.Single_menu_catgeroy:not(:last-child){
  border-bottom: 1px solid #b1b0b026;
}
.Single_menu_catgeroy .Cat-Title{
  font-size: 20px;
  font-weight: normal;
  color: #555555;
}
.ActiveCat .Cat-Title{
  color: var(--main-color);
}
.Single_menu_catgeroy .Cat-count{
  font-size: 20px;
  font-weight: normal;
  color: #b1b0b0;
}
.ActiveCat .Cat-count{
  color: var(--main-color);
}
/* ========================== end Styling Menu categroy =====================*/



/* ========================== Start Single_dish =====================*/
.Single_Dish{
  display: flex;
  gap: 15px;
  flex-direction: row-reverse;
}
.RightSide{
  width: 50%;
}

.Dish-img{
  height: 170px;
  width: 170px;
  object-fit: fill;
  border-radius: 30px;
  object-position: center;
}
.CartSection{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Add-to-cart-btn button{
  background-color: white;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 30px;
  top: -20px;
}
.Cart_added{
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

.leftSide{
  width: 50%;
  padding-left: 15px;
  margin-top: 27px;

}
.Dish-title{
  font-size: 15px;
  line-height: 1.2;
  color: black;
  margin: 5px 0;
}
.Dish-Desc{
  font-size: 15px;
  line-height: 1.2;
  color: black;
  opacity: 0.5;
  margin: 5px 0;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden; 
  text-overflow: ellipsis; 

}
.Dish-Price{
  color:black;
  font-size: 16px;
  font-weight: 500;
}
/* ========================== End Single_dish =====================*/



